}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: font-family: 'Libre Caslon Display', serif;
  line-height: 1.6;
  height: 300vh;
}
.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
}

.navbar {
  display: flex;
  justify-content: space-around;
  min-height: 1vh;
  align-items: center;
  width: 100%;
  height: 60px;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background-color: #0001;
}
.navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
  width: 100%;
}
.navbar ul li{
float:left;
margin: 0 1rem;
padding: 1rem;
}

.navbar ul li a{
    padding: 10px;
    width: 150px;
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 10px;
    font-family: 'Libre Caslon Display', serif;
  }
.navbar a:hover{
    background:white;
    transition: 0.8s all;
  }
section {
  display: flex;
  flex-direction: column;
  font-family: 'Libre Caslon Display', serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}
section h1 {
  font-size: 3rem;
  font-family:  'Libre Caslon Text', serif;
}
section p{
  font-size: 12;
}
  /* Section Images */
  .btn {
    border-radius: 9px;
    font-family: 'Libre Caslon Display', serif;
    text-decoration: none;
    color: black;
    font-size: 135%;
    padding: 10px 20px;
    border: solid black 3px;
    text-transform: uppercase;
  }
.btn:hover {
  color: #fff;
  border: groove #fff 3px;
  transition: 0.8s;
}
  section {
    background: url('https://source.unsplash.com/NTyBbu66_SI/1600x900') no-repeat center center/cover;
  }
  margin-bottom: 14%;

  }

  div.contrast {
  background-color: rgb(0,0,0);
  color: rgb(27,172,192);
  }
  }
  .pquote {
      float: right;
      width: 800px;
      background: #ddf;
      font-weight: bold;
      padding: 10px;
      margin: 0 13px 13px 0;
  }
  .pquote p:first-letter {
      font-size: 60px;
      font-weight: bold;

      .bq1 { padding-left: 16px; border-left: 5px solid #577da4; width: 700px; }
       .bq1 p { font-style: italic; font-size: 14px; line-height: 18px; color: #8c8785; }
       p.after { margin-left: 40px; font-weight: bold; }
       p.after a { color: #6793d4; text-decoration: none; }
       p.after a:hover { text-decoration: underline; }
  }
